---
import Footer from '../components/Footer.astro';
import BaseHead from '../components/BaseHead.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../../config';
import { getExcerpt } from '../utils';
import type { MarkdownInstance } from 'astro';
import type { Frontmatter } from '../types';

const posts = (await Astro.glob<Frontmatter>('../pages/posts/*.md')).sort(
  (a, b) =>
    new Date(b.frontmatter.date).valueOf() -
    new Date(a.frontmatter.date).valueOf()
);

const excerpt = (post: MarkdownInstance<Frontmatter>) => {
  const html = post.compiledContent();
  return getExcerpt(html, 80);
};
---

<!DOCTYPE html>
<html lang="ja">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <div class="container mx-auto max-w-4xl px-6">
      <header class="py-10">
        <h1 class="text-xl font-medium text-black sm:text-3xl">
          <a href="/">{SITE_TITLE}</a>
        </h1>
      </header>
      <main class="py-10">
        {
          posts.map((post) => (
            <article class="[&:nth-child(n+2)]:mt-10">
              <time datetime={post.frontmatter.date} class="text-black">
                {new Date(post.frontmatter.date).toLocaleDateString('ja-JP', {
                  year: 'numeric',
                  month: 'short',
                  day: 'numeric',
                })}
              </time>
              <h2 class="mt-2 text-xl font-normal hover:text-indigo-700 sm:text-3xl">
                <a href={post.url}>{post.frontmatter.title}</a>
              </h2>
              <p class="mt-3 text-sm font-normal text-slate-700 sm:text-lg">
                {post.frontmatter.dek || excerpt(post)}
              </p>
            </article>
          ))
        }
      </main>
      <Footer />
    </div>
  </body>
</html>
