---
import GoBackButton from '../components/GoBackButton.astro';
import SocialButtons from '../components/SocialButtons.astro';
import { getExcerpt } from '../utils';
import type { Frontmatter } from '../types';
import Layout from './Layout.astro';

const html = await Astro.slots.render('default');
const excerpt = getExcerpt(html, 150);

const {
  title,
  date,
  description = excerpt,
  dek,
  ogImage,
} = Astro.props.content as Frontmatter;
---

<Layout title={title} description={description} ogImage={ogImage}>
  <article
    class="prose mx-auto prose-p:tracking-tighter prose-a:break-all hover:prose-a:text-indigo-700 lg:prose-lg"
  >
    <div class="not-prose">
      <time datetime={date} class="text-sm text-gray">
        {
          new Date(date).toLocaleDateString('ja-JP', {
            year: 'numeric',
            month: 'short',
            day: 'numeric',
          })
        }
      </time>
      <h1 class="mt-1 text-3xl font-normal text-black md:text-5xl">
        {title}
      </h1>
      <div
        class="mt-2 text-lg font-light tracking-tight text-gray md:mt-6 md:text-xl"
      >
        {dek}
      </div>
    </div>
    <div class="mt-12 font-light">
      <slot />
    </div>
    <div class="mt-14">
      <SocialButtons />
    </div>
  </article>
  <div class="mt-6 text-center">
    <GoBackButton />
  </div>
</Layout>
